@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
/* ### Primary */
--soft-blue: hsl(215, 51%, 70%);
--cyan: hsl(178, 100%, 50%);
--semi-transparent-cyan: hsla(178, 100%, 50%, 0.5);

/* ### Neutral */
--very-dark-blue1: hsl(217, 54%, 11%);
--very-dark-blue2: hsl(216, 50%, 16%);
--very-dark-blue3: hsl(215, 32%, 27%);
--white: hsl(0, 0%, 100%);
}

 *{
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}
a:any-link {
    text-decoration: none;
    color: var(--white);
}

html {
    font-size: 10px;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    font-size: 1.6rem;
    background-color: var(--very-dark-blue1);
}

.card-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--very-dark-blue2);
    border-radius: 1.5rem;
    padding: 2.4rem;
    color: white;
}

.nft-display {
    position: relative;
    width: 100%;
    margin-bottom: 2.1rem;
    display: flex;
}

.nft-display img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.nft-display a {
    display: flex;
}
.nft-display .color-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1rem;
}

.nft-display .color-overlay:hover, a:focus + .color-overlay{
    background-image:url(./Project_1st_Try/images/icon-view.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-color: var(--semi-transparent-cyan);
    transition: background-color 0.2s ease-in;
    
}
.title1 {
    font-size: 2.2rem;
    font-weight: 600;
    padding-bottom: 1.6rem;
}

.description {
    line-height: 1.7em;
    padding-bottom: 1.6rem;
}
.buy-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1px solid var(--very-dark-blue3);
    padding-bottom: 1.3rem;
}

.buy-details .price span {
    color: var(--cyan);
    font-weight: 600;
}

.buy-details .price, .buy-details .bid-timer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.buy-details .price span, .buy-details .bid-timer span{
    padding-left: 0.7rem;
}

.creator {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1.6rem;
}
.creator img {
    width: 3.3rem;
    margin-right: 1em;
    border: 1px solid var(--white);
    border-radius: 50%;
}

.title1 a:hover, .title1 a:focus, .creator a:hover, .creator a:focus {
    color: var(--cyan);
}

.soft-blue-font {
    color: var(--soft-blue);
    font-weight: 300;
}

@media (min-width: 768px) {
    .card {
        max-width: 355px;
    }
    .description {
        font-size: 1.8rem;
    }
    .buy-details {
        padding-bottom: 2.4rem;
    }
    .creator {
        padding-top: 1.8rem;
    }
    .attribution {
        font-size: 1.2rem;
    }
}

.attribution {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white);
    font-size: 1rem;

}

.attribution a{
    color: var(--cyan);
}